
* {
    font-family: Arial, Helvetica, sans-serif;
}
/* isoleer style per element */
table {
    border-collapse: collapse;
    border: 1px solid #888;
    padding: 10px;
}

th {
    border: 1px solid #888;
    text-align: left;
    padding: 10px;
}
 
td {
    border: 1px solid #888;
    text-align: left;
    padding: 10px;
}

 tfoot {
     border: 1px solid #888;
    padding: 10px;
 }

.prijs {
    text-align: right;
}
